.containerTtl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.spanTtl{
    color: #0056B3;
}

.containerIndent{
    margin-top: 5em;
    margin-left: 16em;
}

.frstTable{
    margin-top: 5em;
    margin-left: 16em;

}

.ttlH1{
	font-size: 2.5em;
}


.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

.table {
	width:70em;
	border:1px solid grey;
}

.tableHeader {
	display:flex;
	width:100%;
	background: #0056B3;
	padding:(12px * 1.5) 0;
}

.table_row{
	display:flex;
	width:100%;
	padding:(12px * 1.5) 0;
	
	&:nth-of-type(odd) {
		background:rgb(210, 210, 210);
	}
}

.nome_linha{
    text-align: right;
}

.table_data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:none;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:24px;
	padding-right:24pxt;
	
	&::after {
		content:'';
		position:absolute;
		right:-(12 * 1.5);
		color:white;
		font-size:12px;
		top: 50%;
		transform: translateY(-50%);
	}
	
	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}
	
}

.nome_linha{
    text-align: left;
}

.Novonome_linha{
    margin-top: 2em;
}

.main{
	margin-bottom: 8em;
}