.footer{

    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vh;
    margin: 0 auto;
    margin-bottom: 3em;

}

.logoIf{
    width: 12em;
    margin-left: 3em;
}
.listFooter{
    list-style: none;
    margin-right: 3em;
}

@media (max-width: 480px) {
    .footer{
        margin: 2em;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
}