
.header{
    background-color: #f8f9fa;
    padding: 20px 10px;
    text-align: center;
}

.allHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ulHeader{
    padding: 1em 1em;
    border-radius: 1.5em;
    background-color: #0056B3;
}
.liHeader{
    color: #f8f9fa;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.aHeader{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.aHeader:hover {
    cursor: pointer;
    transform: scale(1.5); 
    color: #ffffff; 
}


@media screen and (max-width: 768px) {
    
}