

.logoLapsid{
    background-color: rgb(255, 255, 255);
    border-radius: 1em 0em;
    height: 7.5em;
    width: 15em;
    margin: 0;
    align-items: start;
    display: block;
}


.logoIFBA{
    background-color: rgb(255, 255, 255);
    border-radius: 1em 0em;
    height: 8em;
    width: 15em;
    margin: 0;
    display: flex-inline;
    margin-top: 6em;
    margin-left: 2em;
}

.container{
    margin-top: 2em;
    position: relative;
    background: linear-gradient(0.25turn, #0056B3,#2A9EBE, #359830);
    border-radius: 2em 1em;
    width: 84em;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.fistLine{
    align-items: center;
    justify-content: start;
    margin: 0em;
    display: flex;
}
.secondLine{
    height: 100%;
    width: 100%;
    margin: 0em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 7em;
    width: 40em;
}



.allConent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleArt{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 8em;
}

.ttlBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.spanTtl{
    color: #0056B3;
}

.mainBtn{
    width: 20em;
    color: rgb(255, 255, 255);
    text-align: start;
    justify-content: start;
    display: flex;
    border: 0;
    background-color: #0056B3;
    border-radius: 1em;
    padding: 1em;
}

.iconArrow{
    justify-items: end;
    align-items: end;
    width: 10em;
}

.spanTtl2{
    color: #0056B3;
}

.secondContainer{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ttl2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}