.logoLapsid{
    background-color: rgb(255, 255, 255);
    border-radius: 1em 0em;
    height: 7.5em;
    width: 15em;
    margin: 0;
    align-items: start;
    display: block;
}

.ttlH1{
    font-size: 2.5em;
}


.logoIFBA{
    background-color: rgb(255, 255, 255);
    border-radius: 1em 0em;
    height: 8em;
    width: 15em;
    margin: 0;
    display: flex-inline;
    margin-top: 6em;
    margin-left: 2em;
}

.container{
    margin-top: 2em;
    position: relative;
    background: linear-gradient(0.25turn, #0056B3,#2A9EBE, #359830);
    border-radius: 2em 1em;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.fistLine{
    align-items: center;
    justify-content: start;
    margin: 0em;
    display: flex;
}
.secondLine{
    margin: 0em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 7em;
    width: 40em;
}



.allConent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleArt{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 8em;
}

.ttlBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.spanTtl{
    color: #007bff;
}

.spanTtl2{
    color: #007bff;
}

.secondContainer{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ttl2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleResearch{
    display: block;
    justify-content: center;
}

.cardSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60em;
}


.parentCard {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
    width: 60em;
    height: 50em;
}
    
.divCard1 {
    border-radius: 1em;
    background-color: #dddddd;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
}

.divCard2 {
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 1em;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}

.divCard3 {
    border-radius: 1em;
    background-color: #1E293B;
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 8;
    grid-row-start: 1;
}

.divCard4 {
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 1em;
    background-color: #1E293B;
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 8;
    grid-row-start: 6;
}

.divCard5 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    background-color: #ffffff;
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;
}

.divCard6 {
    display: flex;

    align-items: start;
    justify-content: center;
    border-radius: 0.5em;
    margin-bottom: 1em;
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 1;
}

.divCard7 {
    border-radius: 1em;
    background-color: #359830;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 7;
}

.divCard8 {
    border-radius: 1em;
    background-color: #c8c8c8;
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 7;
}
.cardImg1{
    border-radius: 1em;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.cardImg2{
    border-radius: 1em;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.cardImg3{
    
    border-radius: 1em;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.cardImg4{
    border-radius: 1em;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.gestContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gesth1{
    font-size: 30px;
}

.gestDesc{
    margin-bottom: 6em;
    margin-left:12em;
}

.gestP{
    width: 70em;
}
.gestHr{

    width: 60%;
    height: 0.1em;
    background-color: #000000;
    border: none;
    margin: 2em ;
}

.divHr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gestLi{
    list-style: none;
}

.gestH3{
    font-size: 25px;
    color: #007bff;
}

.spanCard1{
    color: #0056B3;
    font-size: 20px;
}

.divCard1Content{
    margin: 2em;


}

.divCard7Content{
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divCard7Title{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.divCard6Content{
    background-image:url('../../app/../../public/CardImgs/Frame3.svg') ;
    background-size: cover;
    justify-content: center;
    height: 244px;
    border-radius: 1em;

}
.divCard6Title{
    color: #ffffff;
    margin-left: 2em;
}

.divCard6P{
    color: #ffffff;
    margin-left: 2em;
}

.divCard2Content{
    background-image:url('../../app/../../public/CardImgs/Frame(2).svg') ;
    background-size: cover;
    justify-content: center;
    height: 244px;
    border-radius: 1em;
}

.divCard2Title{
    color: #ffffff;
    margin-left: 2em;
    margin-right: 2em;
}

.divCard2P{
    color: #ffffff;
    margin-left: 2em;
}
.divCard3P{
    color: #ffffff;
    margin-left: 1em;
    margin-right: 1em;
}

.divCard3Title{
    color: #ffffff;
    margin-left: 1em;
    margin-right: 1em;
}

.divCard3Content{
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.divCard4Content{
    background-image:url('../../app/../../public/CardImgs/Frame(1).svg') ;
    background-size: cover;
    justify-content: center;
    height: 350px;
    border-radius: 1em;
}

.divCard4P{
    color: #ffffff;
    margin-left: 1em;
    margin-right: 1em;
}

.divCard4Title{
    color: #ffffff;
    margin-left: 1em;
    margin-right: 1em;

}

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 8em;
}



@media (max-width: 1200px) {

   
}

@media (max-width: 768px) {
 
}

@media (max-width: 480px) {
    .ttlH1{
        text-align: center;
    }
    .logoLapsid2{
        display: none;
    }
    .logoIFBA{
        display: none;
    }
    .logoLapsid{
        display: none;
    }
    .text{
        text-align: center;
        margin: 0px;
    }
    .titleArt{
        margin: 0;
    }
    .secondLine{
        margin: 0;
    }
}

