.main{
    margin-bottom: 20em;
    margin-left: 6em;
    margin-top: 8em;
}

.container{
    margin-top: 8em;
}

.parcContent{
    display: flex;
    margin-left: 8em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.pParce{
    width: 60em;
}

.Hr{
    width: 60%;
    height: 0.1em;
    background-color: #000000;
    border: none;
    margin: 2em ;
}

.divHr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ttlH1{
    font-size: 2.5em;
}

