
.mainPubli{
    margin-left: 6em;
    margin-top: 8em;
}

.container{
    margin-bottom: 20em;
    margin-top: 2em;
    margin-left: 8em;
}

.title{
    font-size: 2.5em;
}
.liContent{
    margin: 1em;
    width: 80%;
}


@media (max-width: 480px) {
    .mainPubli{
        margin: 1em;
    }   
    .container{
        margin: 1em;
    }
}